
@import 'base/variables';
* {
  font-family: "MuseoModerno", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
p{
  margin: 0;
}
.container {
  max-width: 950px;
  margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/info';
@import 'media/media';